.devices {
  @media screen and (max-width: 1000px) {
    margin-bottom: 8rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    & button {
      all: unset;
      display: flex;
      align-items: center;
      column-gap: 0.7rem;
      font-size: 2rem;
      padding: 0.7rem;
      color: $color-black-light;
      border-radius: 0.5rem;

      box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      }
      &:hover svg {
        transform: rotate(90deg);
      }
      & svg {
        font-size: 3rem;
        color: rgba($color-yellow, 0.5);
        transition: transform 0.3s ease;
        @media screen and (max-width: 1000px) {
          font-size: 2.5rem;
        }
      }
    }
  }
  &-nodevice {
    margin-top: 7rem;
    width: 100%;
    display: grid;
    place-items: center;
    & svg {
      font-size: 8rem;
      color: rgba($color-yellow, 0.5);
      @media screen and (max-width: 1200px) {
        font-size: 6rem;
      }
    }
    & p {
      font-size: 2rem;
      letter-spacing: 0.1rem;
      color: rgba($color-yellow, 0.7);
      @media screen and (max-width: 1200px) {
        font-size: 1.5rem;
      }
    }
    & button {
      margin-top: 2rem;
      background-color: rgba($color-yellow, 0.8);
      border: 0.2rem solid $color-yellow;
      color: $color-white;
      letter-spacing: 0.2rem;
      font-weight: 400;
      border-radius: 0.5rem;
      font-size: 2rem;
      width: fit-content;
      padding: 1.7rem 5rem;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
      transition: all 0.3s;
      &:disabled {
        opacity: 0.5;
        cursor: no-drop;
      }
      &:hover {
        box-shadow: none;
      }
      @media screen and (max-width: 1200px) {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
      }
    }
  }
  &-list {
    list-style: none;
  }
  &_off,
  &_on {
    margin: 0 0 0 1rem;
    border-radius: 1rem;
    width: 8rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 4rem;
      border-radius: 1rem;
      background-color: rgba(rgb(242, 234, 234), 0.9);
      font-size: 1.6rem;
      letter-spacing: "1rem";
      box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
  &_off {
    background-color: rgba(red, 0.5);
  }

  &_on {
    background-color: rgba(green, 0.5);
  }

  &-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: 0.1rem solid rgba($color-yellow, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem rgba($color-yellow, 0.5);

    &__icon-wrapper {
      position: relative;
      display: inline-block;
    }

    &__modal {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
      border: 0.1rem solid #ccc;
      padding: 0.5rem;
      border-radius: 0.5rem;
      z-index: 10;
      font-size: 0.9rem;
      white-space: nowrap;

      & P {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;

        & span {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      background-color: rgba($color-yellow, 0.1);
      border-color: rgba($color-yellow, 0.3);

      &__details h3 {
        color: rgba($color-yellow, 0.5);
        cursor: not-allowed;
      }

      &__status {
        color: rgba($color-yellow, 0.5);
      }

      &__icon {
        color: rgba($color-yellow, 0.5);
      }
    }

    &__status {
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      color: rgba($color-yellow, 0.7);
      display: flex;
      align-items: center;
      gap: 0.6rem;
    }

    &__icon {
      font-size: 3.5rem;
      margin-right: 2rem;
      color: rgba($color-yellow, 0.8);
    }
    &__details {
      flex-grow: 1;
      @media screen and (max-width: 450px) {
        flex-basis: 40%;
      }

      & h3 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        color: $color-yellow;
        width: fit-content;
        cursor: pointer;
        transition: all 0.3s;

        @media screen and (max-width: 1200px) {
          font-size: 1.7rem;
          letter-spacing: 0.1rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 1.5rem;
          letter-spacing: 0;
        }

        &:hover {
          color: rgba($color-yellow, 0.5);
        }
      }
      & p {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 0.4rem;
        letter-spacing: 0.1rem;
        color: rgba($color-yellow, 0.7);
        svg {
          font-size: 1rem;
          color: rgba($color-yellow, 0.5);
          transition: transform 0.3s ease;
          @media screen and (max-width: 1200px) {
            font-size: 6rem;
          }
        }
      }
    }
    &-profile {
      cursor: pointer;
      font-size: 4.5rem;
    }
    &__actions {
      flex-basis: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width: 1400px) {
        flex-basis: 28%;
      }
      @media screen and (max-width: 1200px) {
        flex-basis: 40%;
      }
      @media screen and (max-width: 900px) {
        flex-basis: 35%;
      }
      @media screen and (max-width: 700px) {
        flex-basis: 40%;
      }
      @media screen and (max-width: 545px) {
        flex-basis: 45%;
      }
      @media screen and (max-width: 450px) {
        flex-basis: 50%;
      }
      @media screen and (max-width: 420px) {
        flex-basis: 55%;
      }
      & button {
        @include flex-center;
        flex-direction: column;
        border: none;
        border-radius: 0.5rem;
        padding: 1.3rem 2rem;
        box-shadow: 0 0.1rem 0.1rem 0.1rem rgba($color-yellow, 0.5);
        transition: all 0.3s;
        cursor: pointer;
        @media screen and (max-width: 420px) {
          padding: 1rem 1.7rem;
        }

        &:hover {
          transform: translateY(2px);
          box-shadow: 0 0.1rem 0.1rem 0.1rem rgba($color-yellow, 0.2);
        }

        & svg {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
        & span {
          font-size: 1.3rem;
          letter-spacing: 0.1rem;
          @media screen and (max-width: 545px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
