.password-modal {
  position: absolute;
  bottom: 9rem;
  z-index: 100;
  width: 30rem;
  background-color: white;
  border: 0.1rem solid #ccc;
  padding: 2rem;
  border-radius: 0.5ren;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &__box {
    position: relative;
  }

  @media screen and (min-width: 1100px) {
    bottom: 10rem;
  }
  @media screen and (max-width: 1100px) {
    bottom: 12rem;
  }

  // @media screen and (max-width: 550px) {
  //   bottom: 13rem;
  // }

  // @media screen and (max-width: 450px) {
  //   bottom: 15rem;
  // }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}
