.schedule {
  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      margin-bottom: 8rem;
    }
  }

  &__left {
    flex-basis: 50%;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  &__right {
    flex-basis: 48%;
    @media screen and (max-width: 1000px) {
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 50;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  &__select-field {
    width: fit-content;
    z-index: 15;
    font-size: 1.5rem;

    @media screen and (max-width: 1000px) {
      width: 100%;

      &-1 {
        z-index: 20;
      }
      &-2 {
        z-index: 15;
      }
    }
  }

  &__datepicker {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1.3rem;
  }

  &__table-wrapper {
    max-height: 55vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
    z-index: 1;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    // table-layout: fixed;
  }

  &__header,
  &__time,
  &__select {
    text-align: center;
    border: 1px solid #ccc;
  }

  &__header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 1.4rem;
    color: $color-yellow-light;
    z-index: 10;
    padding: 1rem 0;
  }

  &__time {
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 5;
    color: $color-yellow-light;
    padding: 0.2rem;
    width: 80px;
  }

  &__select {
    padding: 0.3rem;
    background-color: #fff;
    width: 200px;
    z-index: 50;

    &--field {
      font-size: 1.2rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.4rem;
  }

  &__button {
    color: $color-black-light;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    padding: 0.8rem 0.9rem;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-yellow, 0.8), 0.8;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    &.active,
    &:active {
      background-color: rgba($color-yellow, 0.8), 0.8;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -10px;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: rgba($color-black-dark, 0.8), 0.4;
      color: $color-white;
    }
  }
}

.upload {
  & h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  &__select--field {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  &__button {
    color: $color-black-light;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    padding: 0.8rem 0.9rem;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-yellow, 0.8), 0.8;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    &:active {
      background-color: rgba($color-yellow, 0.8), 0.8;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -10px;
    }
  }
}
