@tailwind base;
@tailwind components;
@tailwind utilities;

@import "abstracts/variables.scss";
@import "abstracts/mixin.scss";

@import "appStyles/addDeviceModal.scss";
@import "appStyles/index.scss";
@import "appStyles/button.scss";
@import "appStyles/checkbox.scss";
@import "appStyles/dashboard.scss";
@import "appStyles/loadingSpinner.scss";
@import "appStyles/input.scss";
@import "appStyles/inlineFeedback.scss";
@import "appStyles/landingPage.scss";
@import "appStyles/login.scss";
@import "appStyles/signup.scss";
@import "appStyles/navigation.scss";
@import "appStyles/newGroup.scss";
@import "appStyles/normalInput.scss";
@import "appStyles/informationInput.scss";
@import "appStyles/verifyEmail.scss";
@import "appStyles/forgotPassword.scss";
@import "appStyles/globalError.scss";
@import "appStyles/patterns.scss";
@import "appStyles/phases.scss";
@import "appStyles/plans.scss";
@import "appStyles/resetPassword.scss";
@import "appStyles/sidebar.scss";
@import "appStyles/schedule.scss";
@import "appStyles/modal.scss";
@import "appStyles/myDevices.scss";
@import "appStyles/device.scss";
@import "appStyles/deviceConfigPage.scss";
@import "appStyles/intersectionConfigPage.scss";
@import "appStyles/logout.scss";
@import "appStyles/pagination.scss";
@import "appStyles/settings.scss";
@import "appStyles/passwordModal.scss";
@import "appStyles/notFound.scss";
@import "appStyles/tabs.scss";
