$color-white: #fff;
$color-white-light: #f7f7f7;
$color-white-dark: #f2f2f2;

$color-yellow: #514604;
$color-yellow-light: #6c6128;
$color-yellow-dark: #3b3302;

$color-black: #010100;
$color-black-light: #2a2a29;
$color-black-dark: #060606;

$text-success-color: #10601f;
$text-error-color: #e45351;

$box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.13);
